{% extends 'base.html.twig' %}


{% block body %}

<h2>Subscribe to our newsletters!</h2>

<p>Select a topic and subscribe! </p>


    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <hr>



{% endblock %}

